<header>
  <nav>
    <div class="left-side-navbar">
      <a href="/"><h1>Decider</h1></a>
    </div>

    <div class="right-side-navbar">
      <a class="nav-admin btn btn-light" href="/admin">Admin</a>
      <a class="nav-login btn btn-light" href="login">Login</a>
      <a class="nav-register btn btn-light" href="register">Registar</a>

    </div>
  </nav>
</header>
