<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Survey</title>

    <!-- Adapt view for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Import css file -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main>

      <div class="adjust-center">

        <h1 class="form-group form-group-title"> <%= question %> </h1>

        <h1>Options:</h1>

        <!-- <div class="form-group form-group-answer" id="txtAreaanswer1">
          <p>A)</p> <textarea class="form-control" id="txtOption1"></textarea>
        </div>
        <div class="form-group form-group-answer" id="txtAreaanswer2">
          <p>B)</p> <textarea class="form-control" id="txtOption2"></textarea>
        </div>

        <div id="new-field"></div>

        <div class="buttons-margin-down">
          <button type="button" id="addMoreAnswers" class="btn btn-secondary btn-title">Add Option</button>
          <button type="button" id="RemoveAnswers" class="btn btn-secondary btn-title">Remove Option</button>
          <button type="submit" class="btn btn-secondary btn-title" id="sendAnswers">Send Poll</button>
          <div id="create-links"></div>
        </div> -->

    </main>

    <%- include('partials/_header') %>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/survey_app.js"></script>
  </body>
</html>
