// See: https://sass-lang.com/

body {
  background-color: #f5f4f4;
  color: #00303F;

  h1 {
    color: #00303F;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cae4db;
    height: 6em;
    padding: 2em;

    .right-side-navbar {
      padding: 2em;
      width: 25em;
      display: flex;
      justify-content: space-around;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cae4db;
    color: #00303F;
    text-align: center;
    padding: 1em;
  }

  main {
    margin: 8em 2em 0;

    display: flex;
    justify-content: center;

    .adjust-center {

      margin: 0 2em;

      .form-group-title {
        textarea {
          width: 50em;
          height: 10em;
        }
      }
      .form-group-answer {
        textarea {
          width: 50em;
          height: 5em;
        }
      }

      .buttons-margin-down {
        margin-bottom: 10em;
      }

      .buttons-margin-top {
        padding-top: 2em;
      }

      .survey-comments {
        text-align:justify;
        padding: 0 21em 0 0 ;
      }

      .styling-final-answer {
        font-size: 2em;
      }

      .error-messages {
        color: red;
        padding-top: 2em;
      }

    }
  }
}


